In [1]:
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
import requests
import json
import time
import sqlite3
import base64
from datetime import datetime

In [2]:
## Pull Ticketmaster dataset from SQL db

# Establish SQL connection
conn = sqlite3.connect('Ticket Information.db')
curs = conn.cursor()

# Pull relevant table into DF
tm_events = pd.read_sql_query('''SELECT
                                  eventId,
                                  eventName,
                                  attractionName,
                                  venueName,
                                  venueZipCode,
                                  eventStartDateTime
                                FROM
                                  ticketmaster
                              ''',
                              conn
                             )

# Close connection
curs.close()
conn.close()

tm_events.shape
tm_events.head()

,eventId,eventName,attractionName,venueName,venueZipCode,eventStartDateTime
0,G5viZ469tfQS0,LSD Tour: Lucinda Williams/Steve Earle/Dwight ...,Lucinda Williams,Ascend Amphitheater part of the Journeys Conce...,37203,2018-08-12T23:30:00Z
1,1AvfZ4aGkmEPKsw,Strangelove - The Depeche Mode Experience,Strangelove,The Fillmore Silver Spring presented by Cricke...,20910,2018-08-05T00:00:00Z
2,1AyZAC7Gkd9QyRb,Legends In Concert (Las Vegas),Legends In Concert (Las Vegas),Donny & Marie Showroom at Flamingo Las Vegas,89109,2018-09-28T04:30:00Z
3,1AyZAC7GkdKbzEd,Legends In Concert (Las Vegas),Legends In Concert (Las Vegas),Donny & Marie Showroom at Flamingo Las Vegas,89109,2018-07-26T23:00:00Z
4,G5viZ4A2p8MNN,Metallica - WorldWired Tour,Metallica,Verizon Arena,72114,2019-01-21T01:30:00Z

In [3]:
## Call API to retrieve access token 

# Concatenate API Key & API Secret and encode
key_secret = b'LbrjYwRQtqMjHx0dtsf2aPJXRAYa:GOrvYTqM_ITZ6dwOzdCWWjLOJ4Ia'
authorization_token = base64.b64encode(key_secret)
headers = {'Authorization':'Basic {}'.format(authorization_token),
           'Content-Type':'application/x-www-form-urlencoded'
          }

# Set Params
params = {'grant_type':'password',
          'username':'albert.troszczynski@gmail.com',
          'password':'p@8QZHD576!z',
          'scope':'PRODUCTION',
          'client_id':'LbrjYwRQtqMjHx0dtsf2aPJXRAYa',
          'client_secret':'GOrvYTqM_ITZ6dwOzdCWWjLOJ4Ia'
         }

# Call API
response = requests.post('https://api.stubhub.com/login', headers=headers, params=params)
response.text

'{"access_token":"d3098739-24b4-3fa9-8f98-d09cf37b1ec8","refresh_token":"cefaa2cc-8832-3023-8b7b-ac6e0abcb9f5","scope":"default","token_type":"Bearer","expires_in":15018376}'

In [4]:
## Create static API Token variable

# Set access token
access_token = 'd3098739-24b4-3fa9-8f98-d09cf37b1ec8'

# Set Headers
headers = {'Authorization':'Bearer {}'.format(access_token)}

In [5]:
## Nested for loops to extract all event data

# Create empty DF
sh_events = pd.DataFrame()

# Create list of all zip codes
zip_codes = list(tm_events['venueZipCode'].unique())
zip_codes.remove('89109')  # Remove this Vegas zip code that is problematic for joins
idx_multiplier = len(zip_codes)//10

# For loop to break up zip code API calls based on request limitations
for i in range(10):
    if i != 9:
        zip_pull_request = ' |'.join(zip_codes[i*idx_multiplier:(i+1)*idx_multiplier])
    else:
        zip_pull_request = ' |'.join(zip_codes[i*idx_multiplier:])
    # Set params
    params = {'postalCode':zip_pull_request,
              'rows':'500',                   # Maximum rows per pull
              'start':'0',                    # Starting at row 0
              'parking':False                 # Removing parking 'events'
             }
    # Call API
    response = requests.get('https://api.stubhub.com/search/catalog/events/v3', headers=headers, params=params)
    # Extract JSON to DF
    response_json = json_normalize(response.json())
    events = json_normalize(response_json['events'][0])[['eventDateUTC','id','venue.postalCode','status']]
    sh_events = sh_events.append(events)
    # Print loop count for tracking
    print('Zip loop {} of 10'.format(i+1))
    # API allows 10 calls per minute - sleep to prevent API rejection
    time.sleep(6)
    # Set total event count
    row_count = response_json['numFound'][0]
    # For loop to extract the rest of the rows from API call
    for row_start in range(500, row_count, 500):
        # Set params
        params = {'postalCode':zip_pull_request,
                  'rows':'500',                   # Maximum rows per pull
                  'start':str(row_start),         # Starting at row 0
                  'parking':False                 # Removing parking 'events'
                 }
        # Call API
        response = requests.get('https://api.stubhub.com/search/catalog/events/v3', headers=headers, params=params)
        # Extract JSON to DF
        response_json = json_normalize(response.json())
        events = json_normalize(response_json['events'][0])[['eventDateUTC','id','venue.postalCode','status']]
        sh_events = sh_events.append(events)
        # Print row count for tracking
        print ('Row count {} of {}'.format(row_start, row_count))
        # API allows 10 calls per minute - sleep to prevent API rejection
        time.sleep(6)
        
print(sh_events.shape)
sh_events.head()

Zip loop 1 of 10
Row count 500 of 12483
Row count 1000 of 12483
Row count 1500 of 12483
Row count 2000 of 12483
Row count 2500 of 12483
Row count 3000 of 12483
Row count 3500 of 12483
Row count 4000 of 12483
Row count 4500 of 12483
Row count 5000 of 12483
Row count 5500 of 12483
Row count 6000 of 12483
Row count 6500 of 12483
Row count 7000 of 12483
Row count 7500 of 12483
Row count 8000 of 12483
Row count 8500 of 12483
Row count 9000 of 12483
Row count 9500 of 12483
Row count 10000 of 12483
Row count 10500 of 12483
Row count 11000 of 12483
Row count 11500 of 12483
Row count 12000 of 12483
Zip loop 2 of 10
Row count 500 of 8981
Row count 1000 of 8981
Row count 1500 of 8981
Row count 2000 of 8981
Row count 2500 of 8981
Row count 3000 of 8981
Row count 3500 of 8981
Row count 4000 of 8981
Row count 4500 of 8981
Row count 5000 of 8981
Row count 5500 of 8981
Row count 6000 of 8981
Row count 6500 of 8981
Row count 7000 of 8981
Row count 7500 of 8981
Row count 8000 of 8981
Row count 8500 of 8981
Zip loop 3 of 10
Row count 500 of 5209
Row count 1000 of 5209
Row count 1500 of 5209
Row count 2000 of 5209
Row count 2500 of 5209
Row count 3000 of 5209
Row count 3500 of 5209
Row count 4000 of 5209
Row count 4500 of 5209
Row count 5000 of 5209
Zip loop 4 of 10
Row count 500 of 7393
Row count 1000 of 7393
Row count 1500 of 7393
Row count 2000 of 7393
Row count 2500 of 7393
Row count 3000 of 7393
Row count 3500 of 7393
Row count 4000 of 7393
Row count 4500 of 7393
Row count 5000 of 7393
Row count 5500 of 7393
Row count 6000 of 7393
Row count 6500 of 7393
Row count 7000 of 7393
Zip loop 5 of 10
Row count 500 of 3709
Row count 1000 of 3709
Row count 1500 of 3709
Row count 2000 of 3709
Row count 2500 of 3709
Row count 3000 of 3709
Row count 3500 of 3709
Zip loop 6 of 10
Row count 500 of 1834
Row count 1000 of 1834
Row count 1500 of 1834
Zip loop 7 of 10
Row count 500 of 1987
Row count 1000 of 1987
Row count 1500 of 1987
Zip loop 8 of 10
Row count 500 of 1452
Row count 1000 of 1452
Zip loop 9 of 10
Row count 500 of 2032
Row count 1000 of 2032
Row count 1500 of 2032
Row count 2000 of 2032
Zip loop 10 of 10
Row count 500 of 1538
Row count 1000 of 1538
Row count 1500 of 1538
(46618, 4)

               eventDateUTC         id venue.postalCode  status
0  2018-08-28T01:30:00+0000  103713659            10036  Active
1  2018-08-27T01:30:00+0000  103713657            10036  Active
2  2018-08-27T23:00:00+0000  103713658            10036  Active
3  2018-08-26T01:30:00+0000  103713655            10036  Active
4  2018-08-26T23:00:00+0000  103713656            10036  Active

In [6]:
## Convert datetime strings for joins

def sh_str_to_date (x):
    x = x[:-5]
    return datetime.strptime(x, '%Y-%m-%dT%H:%M:%S')

def tm_str_to_date (x):
    return datetime.strptime(x, '%Y-%m-%dT%H:%M:%SZ')

sh_events['converted_startDate'] = sh_events.eventDateUTC.apply(sh_str_to_date)
tm_events = tm_events[tm_events['eventStartDateTime'].astype(bool)]
tm_events['converted_startDate'] = tm_events.eventStartDateTime.apply(tm_str_to_date)

In [7]:
## Merge tables

# Rename columns for merge
sh_events.rename(columns={'venue.postalCode':'venueZipCode', 'id':'sh_id', 
                          'name':'sh_name', 'venue.name':'sh_venue'},
                 inplace=True
                )

# Merge on start date and zip code
sh_events = tm_events.merge(sh_events, how='left', on=['venueZipCode','converted_startDate'])

# Drop duplicates and missing data 
sh_events.dropna(subset=['sh_id'], inplace=True)
sh_events.drop_duplicates(subset=['sh_id','eventId'], inplace=True)
sh_events.shape

(6222, 10)

In [108]:
## Pull ticket listings info for each event

# Set empty DF
sh_pricing_080118_pm = pd.DataFrame()

for i, sh_id in enumerate(sh_events.sh_id):
    params = {'eventId':str(sh_id),
              'pricingsummary':'true'
             }
    response = requests.get('https://api.stubhub.com/search/inventory/v2', headers=headers, params=params)
    response_json = json_normalize(response.json())
    if 'listing' in response_json.columns:
        listings = json_normalize(response_json['listing'][0])
        listings['eventId'] = response_json['eventId'][0]
        listings['maxQuantity'] = response_json['maxQuantity'][0]
        listings['minQuantity'] = response_json['minQuantity'][0]
        listings['totalListings'] = response_json['totalListings'][0]
        listings['totalTickets'] = response_json['totalTickets'][0]
        listings['datetime'] = datetime.utcnow()
        sh_listings_073118_am = sh_listings_073118_am.append(listings)
        print(i, sh_id)
#    if i%15 == 0:
#        time.sleep(10)

0 103669015
1 103700201
2 103678874
3 103567248
4 103670475
5 103733512
6 103560382
7 103704747
8 103657774
9 103718130
10 103653872
11 103583596
12 103660388
13 103677852
14 103487492
15 103629843
16 103721940
17 103419083
19 103665119
20 103602497
21 103642544
22 103668193
23 103590897
24 103433169
25 103270902
26 103595134
27 103659319
28 103556571
29 103607673
31 103645532
32 103740249
33 103736723
34 103426737
36 103585987
37 103684225
38 103502419
39 103736319
40 103678933
41 103318803
42 103654061
43 103489370
44 103536173
45 103614308
46 103590403
47 103579308
48 103662902
49 103636291
50 103436979
51 103655188
52 103277319
53 103591948
54 103699718
55 103728422
56 103729517
57 103718130
58 103318771
59 103664860
60 103556389
61 103583695
62 103618719
63 103529248
64 103561932
65 103583810
66 103450913
67 103652308
68 103726168
69 103640251
70 103566157
71 103647745
72 103668885
73 103562187
74 103560787
75 103655411
76 103602452
77 103644793
78 103687638
79 103703382
80 103521362
81 103726175
82 103472576
83 103652391
84 103556580
85 103716601
86 103487493
87 103672980
88 103673279
89 103498420
90 103535955
91 103619943
92 103711538
93 103526860
94 103495809
95 103731836
96 103607429
97 103728758
98 103604919
100 103614587
101 103518227
103 103659486
104 103665344
105 103027379
106 103532750
107 103702141
108 103724769
109 103447387
110 103651379
111 103673274
112 103665168
113 103686008
114 103426964
115 103583520
116 103562119
118 103592032
119 103722417
120 103720405
121 103397197
122 103602403
123 103537848
124 103722701
125 103460861
126 103436928
127 103612103
128 103681783
129 103631471
130 103380178
131 103604021
132 103593832
133 103669421
134 103665323
135 103573711
136 103663275
137 103602373
138 103670563
139 103571117
140 103672476
141 103653901
142 103671975
143 103670005
144 103668301
145 103668735
146 103596024
147 103590445
148 103366303
149 103668291
150 103397196
151 103318742
152 103636288
153 103399126
154 103457131
155 103412400
156 103600706
157 103580154
158 103608580
159 103710796
160 103701848
161 103591552
162 103528984
163 103653895
164 103572863
165 103703049
166 103645877
167 103596595
168 103318799
169 103739154
170 103670746
171 103662907
172 103664934
174 103724524
175 103668522
176 103670283
177 103579423
178 103487504
179 103670267
180 103726063
181 103595791
182 103735866
183 103711589
184 103270829
185 103532592
186 103480652
187 103674121
188 103654406
189 103624363
190 103502069
191 103591608
193 103397169
194 103512156
195 103512402
196 103234104
197 103024478
198 103132918
199 103594974
200 103498503
201 103478957
202 103596583
203 103672801
204 103523488
205 103654256
206 103480655
207 103685661
208 103590822
209 103318779
211 103585793
213 103428063
214 103277310
215 103596580
216 103591579
217 103484033
218 103711577
219 103579166
220 103639175
221 103721197
222 103729426
223 103620108
224 103733108
225 103739309
226 103577242
227 103592147
228 103714228
229 103583492
230 103557385
231 103636146
232 103512414
233 103158901
234 103299193
235 103555005
236 103726943
237 103426705
238 103672754
239 103721343
241 103527476
242 103530296
243 103680089
244 103645681
245 103723996
246 103232620
247 103735757
248 103602593
249 103270897
250 103733053
252 103277303
253 103482384
254 103612436
255 103725748
256 103536571
257 103318802
258 103645890
259 103728677
260 103410599
262 103736303
263 103614773
264 103631705
265 103558337
266 103619905
267 103676689
268 103725999
270 103503353
272 103629846
273 103579727
274 103590436
275 103502394
276 103736294
279 103493730
280 103480715
281 103701051
282 103591729
283 103481752
284 103590700

SSLError: EOF occurred in violation of protocol (_ssl.c:777)

In [53]:
params = {'eventId':'103567248',
          'sectionstats':'true'
         }
response = requests.get('https://api.stubhub.com/search/inventory/v2', headers=headers, params=params)
response_json = json_normalize(response.json())
response_json.columns

Index(['deliveryTypeSummary', 'eventId', 'listing',
       'listingAttributeCategorySummary', 'maxQuantity', 'minQuantity',
       'pricingSummary.averageTicketPrice',
       'pricingSummary.averageTicketPriceWithCurrency.amount',
       'pricingSummary.averageTicketPriceWithCurrency.currency',
       'pricingSummary.maxTicketPrice',
       'pricingSummary.maxTicketPriceWithCurrency.amount',
       'pricingSummary.maxTicketPriceWithCurrency.currency',
       'pricingSummary.minTicketPrice',
       'pricingSummary.minTicketPriceWithCurrency.amount',
       'pricingSummary.minTicketPriceWithCurrency.currency',
       'pricingSummary.name', 'pricingSummary.percentiles',
       'pricingSummary.totalListings', 'rows', 'section_stats', 'start',
       'totalListings', 'totalTickets'],
      dtype='object')

In [55]:
json_normalize(response_json['section_stats'][0])

,averageTicketPrice,averageTicketPriceWithCurrency.amount,averageTicketPriceWithCurrency.currency,isGA,maxTicketPrice,maxTicketPriceWithCurrency.amount,maxTicketPriceWithCurrency.currency,maxTicketQuantity,minTicketPrice,minTicketPriceWithCurrency.amount,minTicketPriceWithCurrency.currency,minTicketQuantity,percentiles,sectionId,sectionName,totalListings,totalTickets,zoneId,zoneName
0,179.269003,179.27,USD,1,1201.300049,1201.30,USD,8,97.300003,97.30,USD,1,"[{'name': 95.0, 'value': 258.55951080322245}]",229714,Floor GA,30,126,39131,Floor GA
1,208.102501,208.10,USD,0,239.979996,239.98,USD,2,172.600006,172.60,USD,2,"[{'name': 95.0, 'value': 236.77449645996094}]",229719,Balcony Right,4,8,39129,Balcony Right
2,183.522499,183.52,USD,0,219.860001,219.86,USD,4,161.619995,161.62,USD,2,"[{'name': 95.0, 'value': 215.51300125122071}]",229717,Balcony Left,8,20,39128,Balcony Left
3,262.999995,263.00,USD,0,299.359985,299.36,USD,4,239.979996,239.98,USD,2,"[{'name': 95.0, 'value': 294.3899871826172}]",229718,Balcony Center,3,8,39127,Balcony Center

In [52]:
json_normalize(response_json['pricingSummary.percentiles'][0])

   name      value
0  95.0  673.38399

In [8]:
## Import SH ticket listings CSVs

sh_listings = pd.read_csv('/Users/Albert/Desktop/sh_listings.csv')

In [56]:
sh_listings.columns

Index(['Unnamed: 0', 'businessGuid', 'currentPrice.amount',
       'currentPrice.currency', 'datetime', 'deliveryMethodList',
       'deliveryTypeList', 'dirtyTicketInd', 'eventId', 'faceValue.amount',
       'faceValue.currency', 'isGA', 'listingAttributeCategoryList',
       'listingAttributeList', 'listingId', 'listingPrice.amount',
       'listingPrice.currency', 'maxQuantity', 'minQuantity', 'quantity',
       'row', 'score', 'seatNumbers', 'sectionId', 'sectionName',
       'sellerOwnInd', 'sellerSectionName', 'splitOption', 'splitVector',
       'ticketSplit', 'totalListings', 'totalTickets', 'zoneId', 'zoneName'],
      dtype='object')

In [108]:
## Pull ticket listings info for each listing

# Set empty DF
sh_listings_073118_am = pd.DataFrame()

for i, sh_id in enumerate(sh_events.sh_id):
    params = {'eventId':str(sh_id),
                  'rows':'500'
                 }
    response = requests.get('https://api.stubhub.com/search/inventory/v2', headers=headers, params=params)
    response_json = json_normalize(response.json())
    if 'listing' in response_json.columns:
        listings = json_normalize(response_json['listing'][0])
        listings['eventId'] = response_json['eventId'][0]
        listings['maxQuantity'] = response_json['maxQuantity'][0]
        listings['minQuantity'] = response_json['minQuantity'][0]
        listings['totalListings'] = response_json['totalListings'][0]
        listings['totalTickets'] = response_json['totalTickets'][0]
        listings['datetime'] = datetime.utcnow()
        sh_listings_073118_am = sh_listings_073118_am.append(listings)
        print(i, sh_id)
#    if i%15 == 0:
#        time.sleep(10)

0 103669015
1 103700201
2 103678874
3 103567248
4 103670475
5 103733512
6 103560382
7 103704747
8 103657774
9 103718130
10 103653872
11 103583596
12 103660388
13 103677852
14 103487492
15 103629843
16 103721940
17 103419083
19 103665119
20 103602497
21 103642544
22 103668193
23 103590897
24 103433169
25 103270902
26 103595134
27 103659319
28 103556571
29 103607673
31 103645532
32 103740249
33 103736723
34 103426737
36 103585987
37 103684225
38 103502419
39 103736319
40 103678933
41 103318803
42 103654061
43 103489370
44 103536173
45 103614308
46 103590403
47 103579308
48 103662902
49 103636291
50 103436979
51 103655188
52 103277319
53 103591948
54 103699718
55 103728422
56 103729517
57 103718130
58 103318771
59 103664860
60 103556389
61 103583695
62 103618719
63 103529248
64 103561932
65 103583810
66 103450913
67 103652308
68 103726168
69 103640251
70 103566157
71 103647745
72 103668885
73 103562187
74 103560787
75 103655411
76 103602452
77 103644793
78 103687638
79 103703382
80 103521362
81 103726175
82 103472576
83 103652391
84 103556580
85 103716601
86 103487493
87 103672980
88 103673279
89 103498420
90 103535955
91 103619943
92 103711538
93 103526860
94 103495809
95 103731836
96 103607429
97 103728758
98 103604919
100 103614587
101 103518227
103 103659486
104 103665344
105 103027379
106 103532750
107 103702141
108 103724769
109 103447387
110 103651379
111 103673274
112 103665168
113 103686008
114 103426964
115 103583520
116 103562119
118 103592032
119 103722417
120 103720405
121 103397197
122 103602403
123 103537848
124 103722701
125 103460861
126 103436928
127 103612103
128 103681783
129 103631471
130 103380178
131 103604021
132 103593832
133 103669421
134 103665323
135 103573711
136 103663275
137 103602373
138 103670563
139 103571117
140 103672476
141 103653901
142 103671975
143 103670005
144 103668301
145 103668735
146 103596024
147 103590445
148 103366303
149 103668291
150 103397196
151 103318742
152 103636288
153 103399126
154 103457131
155 103412400
156 103600706
157 103580154
158 103608580
159 103710796
160 103701848
161 103591552
162 103528984
163 103653895
164 103572863
165 103703049
166 103645877
167 103596595
168 103318799
169 103739154
170 103670746
171 103662907
172 103664934
174 103724524
175 103668522
176 103670283
177 103579423
178 103487504
179 103670267
180 103726063
181 103595791
182 103735866
183 103711589
184 103270829
185 103532592
186 103480652
187 103674121
188 103654406
189 103624363
190 103502069
191 103591608
193 103397169
194 103512156
195 103512402
196 103234104
197 103024478
198 103132918
199 103594974
200 103498503
201 103478957
202 103596583
203 103672801
204 103523488
205 103654256
206 103480655
207 103685661
208 103590822
209 103318779
211 103585793
213 103428063
214 103277310
215 103596580
216 103591579
217 103484033
218 103711577
219 103579166
220 103639175
221 103721197
222 103729426
223 103620108
224 103733108
225 103739309
226 103577242
227 103592147
228 103714228
229 103583492
230 103557385
231 103636146
232 103512414
233 103158901
234 103299193
235 103555005
236 103726943
237 103426705
238 103672754
239 103721343
241 103527476
242 103530296
243 103680089
244 103645681
245 103723996
246 103232620
247 103735757
248 103602593
249 103270897
250 103733053
252 103277303
253 103482384
254 103612436
255 103725748
256 103536571
257 103318802
258 103645890
259 103728677
260 103410599
262 103736303
263 103614773
264 103631705
265 103558337
266 103619905
267 103676689
268 103725999
270 103503353
272 103629846
273 103579727
274 103590436
275 103502394
276 103736294
279 103493730
280 103480715
281 103701051
282 103591729
283 103481752
284 103590700

SSLError: EOF occurred in violation of protocol (_ssl.c:777)

In [123]:
## Pull ticket listings info for each listing

# Set empty DF
#sh_listings_080118_am = pd.DataFrame()

for i, sh_id in enumerate(sh_events.sh_id[6397:]):
    params = {'eventId':str(sh_id),
                  'rows':'500'
                 }
    response = requests.get('https://api.stubhub.com/search/inventory/v2', headers=headers, params=params)
    response_json = json_normalize(response.json())
    if 'listing' in response_json.columns:
        listings = json_normalize(response_json['listing'][0])
        listings['eventId'] = response_json['eventId'][0]
        listings['maxQuantity'] = response_json['maxQuantity'][0]
        listings['minQuantity'] = response_json['minQuantity'][0]
        listings['totalListings'] = response_json['totalListings'][0]
        listings['totalTickets'] = response_json['totalTickets'][0]
        listings['datetime'] = datetime.utcnow()
        sh_listings_080118_am = sh_listings_080118_am.append(listings)
        print(i, sh_id)
#    if i%15 == 0:
#        time.sleep(10)

0 103426565
1 103590396
2 103540066
3 103593586
4 103583631
6 103474426
7 103428108
8 103682913
9 103615749
10 103658683
11 103609132
12 103592755
13 103612026
14 103510444
15 103641290
16 103654389
17 103729481
18 103567388
19 103541315
20 103527479
21 103535949
22 103158856
23 103668801
24 103472539
25 103609827
26 103646155
27 103677149
28 103436913
29 103669444
30 103648881
31 103512201
32 103454440
33 103216129
34 103481405
35 103529027
36 103676625
37 103271023
38 103593386
39 103397815
40 103659622
41 103587500
42 103442078
43 103668590
44 103488911
45 103665273
46 103318804
47 103570947
48 103565672
49 103427338
50 103673443
51 103735768
52 103198559
53 103612619
54 103472572
55 103530806
56 103567624
57 103627337
58 103426888
59 103565665
60 103560019
61 103411999
62 103432574
63 103484035
64 103612157
65 103573634
66 103436971
67 103379993
68 103527145
69 103622507
70 103726182
71 103559769
72 103706152
73 103658780
74 103678869
75 103602587
76 103277309
77 103559640
78 103664713
79 103502312
80 103626098
81 103638368
82 103606651
83 103567306
84 103736786
86 103488443
87 103560008
88 103556539
89 103504473
90 103645909
91 103655389
92 103733476
93 103447407
94 103677677
95 103210313
96 103503374
97 103600654
98 103595083
99 103721285
100 103594989
101 103512147
102 103517956
103 103659387
104 103472214
105 103427325
106 103682233
107 103502372
108 103500906
109 103662338
110 103530372
111 103665232
112 103661290
113 103684704
114 103383456
115 103687144
116 103529043
117 103290023
118 103296959
119 103659013
120 103631419
121 103413780
122 103659590
123 103648381
124 103722811
125 103590379
126 103450939
127 103215791
128 103559921
129 103027372
130 103593065
131 103678208
132 103618692
133 103583796
134 103475647
135 103560175
136 103558338
137 103623845
138 103673565
139 103441835
140 103638097
141 103434516
142 103637057
143 103489561
144 103644756
145 103562120
146 103053081
147 103685449
148 103647609
149 103423175
150 103655335
151 103737860
152 103722060
153 103556563
154 103663727
155 103706190
156 103669357
157 103655385
158 103716071
159 103560937
160 103639169
161 103532001
162 103541100
163 103678555
165 103710842
166 103660398
167 103472606
168 103733915
169 103672489
170 103486139
171 103734966
172 103636299
173 103668734
174 103665553
175 103489036
177 103530336
178 103728482
179 103731074
180 103215796
181 103512199
182 103338025
183 103454438
184 103204379
185 103271021
186 103468991
187 103216127
188 103672630
189 103296913
190 103481403
191 103176679
192 103580002
193 103383410
194 103589652
195 103413734
196 103397813
197 103727919
198 103555057
199 103600159
200 103502566
201 103711597
202 103652303
203 103687082
204 103723347
205 103512799
207 103598674
208 103591583
209 103665270
210 103710786
211 103587440
212 103659592
213 103641724
214 103472211
215 103670267
216 103613524
217 103738038
218 103715998
220 103676950
221 103504751
222 103318723
223 103536567
224 103474763
225 103504432
226 103560414
227 103532623
228 103680064
229 103587682
230 103645353
231 103685175
233 103672973
234 103566360
235 103709078
236 103646304
237 103721172
238 103659502
239 103646310
240 103684212
241 103618725
242 103277322
243 103493872
244 103655604
245 103640227
246 103704390
248 103566348
249 103701151
250 103602352
251 103583851
252 103645763
254 103613881
255 103646245
256 103687612
257 103214470
258 103618740
259 103587648
260 103580154
261 103610845
262 103659320
263 103535845
264 103727269
267 103504704
268 103663273
269 103719192
270 103655287
271 103502294
272 103699633
273 103618115
274 103480414
275 103701958
276 103589904
277 103735765
278 103502312
279 103318747
280 103499025
281 103530327
282 103502378
283 103593777
284 103594999
287 103590393
288 103198788
289 103583837
290 103498475
291 103670669
292 103435847
293 103408344
295 103053094
297 103665705
298 103714380
299 103592017
300 103660274
301 103652386
302 103712121
303 103677422
304 103533781
306 103712335
307 103671920
308 103399991
309 103498223

In [98]:
print(sh_listings.shape)
sh_listings.head()

(412382, 33)

,businessGuid,currentPrice.amount,currentPrice.currency,datetime,deliveryMethodList,deliveryTypeList,dirtyTicketInd,eventId,faceValue.amount,faceValue.currency,...,sectionName,sellerOwnInd,sellerSectionName,splitOption,splitVector,ticketSplit,totalListings,totalTickets,zoneId,zoneName
0,NaN,13.30,USD,2018-07-28 20:07:11.369222,[2],[2],False,103669015,NaN,NaN,...,General Admission,0,General Admission,0,[2],2,8,43,92458.0,General Admission Main Floor
1,NaN,33.82,USD,2018-07-28 20:07:11.369222,"[22, 23, 24]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 7]",1,8,43,92458.0,General Admission Main Floor
2,NaN,40.55,USD,2018-07-28 20:07:11.369222,[42],[9],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,8,43,92458.0,General Admission Main Floor
3,NaN,44.50,USD,2018-07-28 20:07:11.369222,"[23, 24, 25]",[5],False,103669015,NaN,NaN,...,VIP Table 10,0,VIP Table 10,2,[2],1,8,43,92461.0,Tier 3
4,4E137851C8087EEDE0540010E0463606,44.50,USD,2018-07-28 20:07:11.369222,[42],[9],False,103669015,22.0,USD,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 6, 8]",1,8,43,92458.0,General Admission Main Floor

In [99]:
print(sh_listings_072818_pm.shape)
sh_listings_072818_pm.head()

(408807, 33)

,businessGuid,currentPrice.amount,currentPrice.currency,datetime,deliveryMethodList,deliveryTypeList,dirtyTicketInd,eventId,faceValue.amount,faceValue.currency,...,sectionName,sellerOwnInd,sellerSectionName,splitOption,splitVector,ticketSplit,totalListings,totalTickets,zoneId,zoneName
0,NaN,13.30,USD,2018-07-29 05:01:37.883795,[2],[2],False,103669015,NaN,NaN,...,General Admission,0,General Admission,0,[2],2,7,41,92458.0,General Admission Main Floor
1,NaN,33.82,USD,2018-07-29 05:01:37.883795,"[22, 23, 24]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 7]",1,7,41,92458.0,General Admission Main Floor
2,NaN,40.55,USD,2018-07-29 05:01:37.883795,[42],[9],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,7,41,92458.0,General Admission Main Floor
3,4E137851C8087EEDE0540010E0463606,44.50,USD,2018-07-29 05:01:37.883795,[42],[9],False,103669015,22.0,USD,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 6, 8]",1,7,41,92458.0,General Admission Main Floor
4,NaN,67.68,USD,2018-07-29 05:01:37.883795,[43],[10],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,7,41,92458.0,General Admission Main Floor

In [101]:
print(sh_listings_072918_am.shape)
sh_listings_072918_am.head()

(407669, 33)

,businessGuid,currentPrice.amount,currentPrice.currency,datetime,deliveryMethodList,deliveryTypeList,dirtyTicketInd,eventId,faceValue.amount,faceValue.currency,...,sectionName,sellerOwnInd,sellerSectionName,splitOption,splitVector,ticketSplit,totalListings,totalTickets,zoneId,zoneName
0,NaN,13.30,USD,2018-07-29 17:12:38.345894,[2],[2],False,103669015,NaN,NaN,...,General Admission,0,General Admission,0,[2],2,8,44,92458.0,General Admission Main Floor
1,NaN,19.30,USD,2018-07-29 17:12:38.345894,"[22, 23]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 3]",1,8,44,92458.0,General Admission Main Floor
2,NaN,33.82,USD,2018-07-29 17:12:38.345894,"[22, 23, 24]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 7]",1,8,44,92458.0,General Admission Main Floor
3,NaN,40.55,USD,2018-07-29 17:12:38.345894,[42],[9],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,8,44,92458.0,General Admission Main Floor
4,4E137851C8087EEDE0540010E0463606,44.50,USD,2018-07-29 17:12:38.345894,[42],[9],False,103669015,22.0,USD,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 6, 8]",1,8,44,92458.0,General Admission Main Floor

In [103]:
print(sh_listings_072918_pm.shape)
sh_listings_072918_pm.head()

(405265, 33)

,businessGuid,currentPrice.amount,currentPrice.currency,datetime,deliveryMethodList,deliveryTypeList,dirtyTicketInd,eventId,faceValue.amount,faceValue.currency,...,sectionName,sellerOwnInd,sellerSectionName,splitOption,splitVector,ticketSplit,totalListings,totalTickets,zoneId,zoneName
0,NaN,13.30,USD,2018-07-30 06:02:31.595835,[2],[2],False,103669015,NaN,NaN,...,General Admission,0,General Admission,0,[2],2,9,50,92458.0,General Admission Main Floor
1,NaN,19.30,USD,2018-07-30 06:02:31.595835,"[22, 23]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 3]",1,9,50,92458.0,General Admission Main Floor
2,NaN,33.82,USD,2018-07-30 06:02:31.595835,"[22, 23, 24]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 7]",1,9,50,92458.0,General Admission Main Floor
3,NaN,35.09,USD,2018-07-30 06:02:31.595835,[43],[10],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,9,50,92458.0,General Admission Main Floor
4,NaN,40.55,USD,2018-07-30 06:02:31.595835,[42],[9],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,9,50,92458.0,General Admission Main Floor

In [105]:
print(sh_listings_073018_am.shape)
sh_listings_073018_am.head()

(404422, 33)

,businessGuid,currentPrice.amount,currentPrice.currency,datetime,deliveryMethodList,deliveryTypeList,dirtyTicketInd,eventId,faceValue.amount,faceValue.currency,...,sectionName,sellerOwnInd,sellerSectionName,splitOption,splitVector,ticketSplit,totalListings,totalTickets,zoneId,zoneName
0,NaN,13.30,USD,2018-07-30 16:32:53.558100,[2],[2],False,103669015,NaN,NaN,...,General Admission,0,General Admission,0,[2],2,8,42,92458.0,General Admission Main Floor
1,NaN,19.30,USD,2018-07-30 16:32:53.558100,"[22, 23]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 3]",1,8,42,92458.0,General Admission Main Floor
2,NaN,33.82,USD,2018-07-30 16:32:53.558100,"[22, 23, 24]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 7]",1,8,42,92458.0,General Admission Main Floor
3,NaN,40.55,USD,2018-07-30 16:32:53.558100,[42],[9],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,8,42,92458.0,General Admission Main Floor
4,NaN,52.01,USD,2018-07-30 16:32:53.558100,[42],[9],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6]",1,8,42,92458.0,General Admission Main Floor

In [107]:
print(sh_listings_073018_pm.shape)
sh_listings_073018_pm.head()

(403644, 33)

,businessGuid,currentPrice.amount,currentPrice.currency,datetime,deliveryMethodList,deliveryTypeList,dirtyTicketInd,eventId,faceValue.amount,faceValue.currency,...,sectionName,sellerOwnInd,sellerSectionName,splitOption,splitVector,ticketSplit,totalListings,totalTickets,zoneId,zoneName
0,NaN,13.30,USD,2018-07-31 05:36:25.173815,[2],[2],False,103669015,NaN,NaN,...,General Admission,0,General Admission,0,[2],2,7,38,92458.0,General Admission Main Floor
1,NaN,19.30,USD,2018-07-31 05:36:25.173815,"[22, 23]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 3]",1,7,38,92458.0,General Admission Main Floor
2,NaN,33.82,USD,2018-07-31 05:36:25.173815,"[22, 23, 24]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 7]",1,7,38,92458.0,General Admission Main Floor
3,NaN,35.09,USD,2018-07-31 05:36:25.173815,[43],[10],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,7,38,92458.0,General Admission Main Floor
4,NaN,40.55,USD,2018-07-31 05:36:25.173815,[42],[9],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,7,38,92458.0,General Admission Main Floor

In [120]:
print(sh_listings_073118_am.shape)
sh_listings_073118_am.head()

(403342, 33)

,businessGuid,currentPrice.amount,currentPrice.currency,datetime,deliveryMethodList,deliveryTypeList,dirtyTicketInd,eventId,faceValue.amount,faceValue.currency,...,sectionName,sellerOwnInd,sellerSectionName,splitOption,splitVector,ticketSplit,totalListings,totalTickets,zoneId,zoneName
0,NaN,13.30,USD,2018-07-31 16:43:36.826873,[2],[2],False,103669015,NaN,NaN,...,General Admission,0,General Admission,0,[2],2,7,38,92458.0,General Admission Main Floor
1,NaN,18.87,USD,2018-07-31 16:43:36.826873,"[22, 23, 24]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 2, 3, 4, 5, 7]",1,7,38,92458.0,General Admission Main Floor
2,NaN,19.30,USD,2018-07-31 16:43:36.826873,"[22, 23]",[5],False,103669015,NaN,NaN,...,General Admission,0,General Admission,2,"[1, 3]",1,7,38,92458.0,General Admission Main Floor
3,NaN,40.55,USD,2018-07-31 16:43:36.826873,[42],[9],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6, 7, 8]",1,7,38,92458.0,General Admission Main Floor
4,NaN,52.01,USD,2018-07-31 16:43:36.826873,[42],[9],False,103669015,NaN,NaN,...,General Admission,0,General Admission,1,"[1, 2, 3, 4, 5, 6]",1,7,38,92458.0,General Admission Main Floor

In [127]:
all_listings = [sh_listings, sh_listings_072818_pm, sh_listings_072918_am, sh_listings_072918_pm,
               sh_listings_073018_am, sh_listings_073018_pm, sh_listings_073118_am, sh_listings_080118_am]

sh__listings = pd.concat(all_listings, axis=0)

In [129]:
sh__listings.to_csv('/Users/Albert/Desktop/sh_listings.csv')

In [130]:
test = pd.read_csv('/Users/Albert/Desktop/sh_listings.csv')

In [131]:
test == sh__listings

ValueError: Can only compare identically-labeled DataFrame objects

In [132]:
test.shape

(3246096, 34)

In [133]:
sh__listings.shape

(3246096, 33)

In [134]:
test.columns

Index(['Unnamed: 0', 'businessGuid', 'currentPrice.amount',
       'currentPrice.currency', 'datetime', 'deliveryMethodList',
       'deliveryTypeList', 'dirtyTicketInd', 'eventId', 'faceValue.amount',
       'faceValue.currency', 'isGA', 'listingAttributeCategoryList',
       'listingAttributeList', 'listingId', 'listingPrice.amount',
       'listingPrice.currency', 'maxQuantity', 'minQuantity', 'quantity',
       'row', 'score', 'seatNumbers', 'sectionId', 'sectionName',
       'sellerOwnInd', 'sellerSectionName', 'splitOption', 'splitVector',
       'ticketSplit', 'totalListings', 'totalTickets', 'zoneId', 'zoneName'],
      dtype='object')